<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doc.student.fitnesstrainerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessTrainerApp">

        <receiver
            android:name=".Adapters.SessionReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".Activities.ReportsActivity"
            android:exported="true"
            android:label="Reports"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".Activities.WorkoutItemActivity"
            android:exported="true"
            android:label="Workout Item"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Activities.WorkoutDetailsActivity"
            android:exported="true"
            android:label="Workout Details"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Activities.SessionDetailsActivity"
            android:exported="true"
            android:label="Session Details"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Activities.ScheduledSessions"
            android:exported="true"
            android:label="Scheduled Sessions" />

        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>